*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}
button{
    cursor: pointer;
}
button, input{
    border: none;
    outline: none;
}
.sidebar{
    position: fixed;
    width: 100px;
    height: 100vh;
    background-color: rgb(28, 25, 25);
    
}
 .logo{ 
    position: absolute;
    left: 0;
    right: 0;
    top: 28px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: aqua;
    text-align: center;
    margin: auto;
    
}
.logotxt{
    font-size: 20px;
    columns: white;
    font-weight: 600;
    line-height: 40px;

}
.navbar{
    position: fixed;
    transform: rotate(-90deg) translate(-100%);
    transform-origin: left top;
    width: 100vh;

}
.manu{
    display: flex;
}
.list{
    display: flex;
    flex-direction:row-reverse;
    margin: -2px auto 0 auto;
    transition: transform 1s ease;
}
.link{
   
    line-height: 40px;
    padding: 0 30px;
    color: aliceblue;
    font-weight: 900;
    position: relative;
    transition: .4s;
    
}
.link:hover{
    color: aqua;
    
}
.home_container{
position: relative;
height: 100%;
align-items: center;
}
.grid{
   display: grid; 
}
.main{
  margin-left: 100px;  
}
.home{
   background: url("3.jpg");
   background-position: center;
   background-size: cover;
   height: 100vh;
}
.home_img{
    display: none;
}
.social
{
font-size: larger;
position: absolute;
top: 10px;
left: 30px;
display: flex;
align-items: center;
column-gap: 56px; 

}
.social .follow
{
    color: rgb(240, 248, 255);
    position: relative;
}
.social .follow::after{
    content: '';
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    right: -45%;
    top: 50%;
}
.social_links{
    display: inline-flex;
    column-gap: 16px;
}
.social_link{
    font-size: 1.08rem;
    color: aliceblue;
    transform: .4s;
}
.social_link:hover{
    color: aqua;
  transform:  translateY(.25rem);  
}

.home_info{
    position: absolute;
    font-size: x-large;
    left: 30px;
    color: rgb(255, 255, 255);
}
.home_info h1 span{
    color: aqua;
}
.home_title{
      margin-bottom: 8px;
}
.home_info h4{
    margin-bottom: 15px;
}
.home_info p{
    margin-bottom: 5px;
}
.button{
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
    padding: .75rem .4rem;
    border-radius: .25rem;
    position: relative;
    z-index: 1;
    background-color: rgba(0, 255, 255, 0.452);
    color: rgb(63, 64, 64);
}
.button:hover{
    background-color: aqua;   
}


.info{
    display: flex;
    column-gap: 30px;
    position: absolute;
    left: 30px;
    bottom: 15px;
    color: rgba(240, 248, 255, 0.401);
}
.info_item{
    display: flex;
    align-items: center;
}
.info_icon{
    font-size: 20px;
    color: aqua;
    margin-right: 15px;
}
.section{
    background-color: rgb(28, 25, 25) ;
    padding: 2rem 6.8rem 2rem;
    
   
   
}
.education{
    background-color: rgb(28, 25, 25) ;
    padding: 2rem 6.8rem 2rem;


}
.education .box-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem 0;
  padding-left: 3rem;  

}
.education .box-container .box {
  width: 27rem;
  margin: 4rem 1rem;
  border-left: .2rem solid white;
  padding-left: 4rem;

}
.education .box-container .box span 
{
    font-size: 1.3rem;
    background-color: rgba(0, 255, 255, 0.452);
    color: white;
    border-radius: 5rem;
    padding: .5rem 2.5rem;
}
.education .box-container .box span:hover 
{
    font-size: 1.3rem;
    background-color: aqua;
    color: white;
    border-radius: 5rem;
    padding: .5rem 2.5rem;
}
.education .box-container .box h3
{
    font-size: 2rem;
    color: rgb(128, 128, 128);
    padding: 1.5rem;
}
.education .box-container .box p
{
    font-size: 1.4rem;
    color: white;
    padding: 0 1.5rem;
}
.education .box-container .box i{
    color: aqua;
    font-size:x-large;
    border-radius: 1px solid white;
    
}
.heading 
{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding: 1rem;
    color: aliceblue;
}
.heading span
{
    color: rgba(0, 255, 255, 0.452);  
}
.contact{
    background-color: rgb(28, 25, 25) ;
    padding: 2rem 6.8rem 2rem;
}
.contact .row
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.contact .row .content
{
    flex:1 1 30rem;
    padding: 4rem;
    padding-bottom: 0;
   

}
.contact .row form
{
    flex:1 1 30rem;
    padding: 2rem;
    margin: 2rem;
    margin-bottom: 4rem;
}
.contact .row form .box
{
    padding: 1.5rem;
    margin: 1rem 0;
    background-color:  rgba(49, 49, 52, 0.337);
    text-transform: none;
    font-size: 1.7rem;
    width: 100%;
    

}
.contact .row form .message
{
  height: 15rem;
  resize: none;
  font-size: 1.7rem; 
  background-color:  rgba(49, 49, 52, 0.337); 
  padding: 1.5rem;
  margin: 1rem 0;
}
.contact .row form button {
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
    padding: 1rem 1.4rem;
    border-radius: .25rem;
    position: relative;
    z-index: 1;
    background-color: rgba(0, 255, 255, 0.452);
    color: rgb(63, 64, 64);
}
.contact .row form button:hover{
    background-color: aqua;   
}
.contact .row .content .title{
    text-transform: uppercase;
    color: aliceblue;
    font-size: 2rem;
    padding-bottom: 2rem;
}
.contact .row .content .infos h3
{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: aliceblue;
    padding: 1rem 0;
    font-weight: normal;

}

.contact .row .content .infos h3 i
{
    padding: 1rem;
    color: aqua;
}
.copyright
{
   width: 100%;
   text-align: center;
   padding: 25px 0;
   background: #212121dc; 
   font-weight: 300; 
}
.copyright i
{
    color: aqua;
}
.skills{
    background-color: rgb(28, 25, 25) ;
    
}

.skills-list
{
    padding: 2rem 6.8rem 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 100px;
    color: white;
    

}
.skills-list div
{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: transform 0.5s;
}

.skills-list div h2
{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
    color: aqua;
}
.skills-list div a
{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display:inline-block;
}
.skills-list div:hover
{
    background: rgba(0, 255, 255, 0.362);
    transform: translateY(-10px);    
}
.about{
    background-color: rgb(28, 25, 25) ;
    padding: 2rem 6.8rem 2rem;

}
.about .rows{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: .1rem 0;
}
.about .rows .infoss{
    flex: 1 1 48rem;
    padding: 2rem 1rem;
    padding-left: 6rem;
 }
 .about .rows .infoss h3{
    font-size: 2rem;
    color: aliceblue;
    padding: 1rem 0;
    font-weight: normal;

 }
 .about .rows .infoss h3 span{
    color: aqua;
    padding: 0 .5rem;
 }
 .about .rows .counter .box
 {
     width: 20rem;
     background-color:rgba(0, 255, 255, 0.452);
     text-align: center;
     padding: 2rem;
     margin: 2rem;
 }

  .about .rows .counter .box span{
    font-size: 2rem;
    color: aqua;
  }
  .about .rows .counter .box h3{
    font-size: 2rem;
    color: #fff;
  }
  .about .rows .counter{
    flex: 1 1 48rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 }
 .about .button{
    left: 8%;
 }


